@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #4299cf;
}
* {
	font-family: 'Inter var', Arial, serif;
}
.btn-theme {
	@apply bg-blue-500 font-bold text-white px-4 py-2 rounded; 
	background-color: #ffffff33;
}
.bg-theme {
	background-color: var(--primary-color);
}
